target/
work/

# Temporary build and testing files
*.log
*.pid
WEB-INF/
META-INF/
*-FIXED.hpi
*-fixed.jar

# IntelliJ project files 
*.iml
*.ipr
*.iws
.idea/

# eclipse project files
.classpath
.project
.settings/
build/
jmh-report.json
