.jp-pills {
  display: flex;
  gap: var(--jenkins-border-width);

  .jp-pill {
    padding-inline: 1rem;
  }

  .jenkins-button--primary {
    transition: margin-inline var(--standard-transition);
  }

  .jp-pill:not(.jenkins-button--primary) {
    &:not(:first-of-type) {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      padding-left: 0.75rem;
    }

    &:not(:last-of-type) {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding-right: 0.75rem;
    }
  }

  &:empty {
    display: none;
  }
}

.jp-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 100px;
  padding: 0 0.75rem;
  min-height: 1.875rem;
  text-box: cap alphabetic;
  font-weight: 450;

  svg {
    width: 1rem;
    height: 1rem;

    * {
      stroke-width: 50px;
    }
  }
}

.jp-idk {
  display: flex;
  align-items: center;
  justify-content: start;
  text-box: cap alphabetic;
  min-height: 48px;
  margin-left: calc(var(--table-padding) * -2);
  margin-top: calc(var(--table-padding) * -1);
  margin-bottom: calc(var(--table-padding) * -1);
  padding-left: calc(var(--table-padding) * 2);
  padding-top: calc(var(--table-padding) * 1);
  padding-bottom: calc(var(--table-padding) * 1);
  font-weight: 450;
  color: var(--text-color) !important;
  text-decoration: none !important;

  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: inherit;
  transition: background var(--standard-transition);

  svg:first-of-type {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
  }

  svg:last-of-type {
    width: 1rem;
    height: 1rem;
    color: var(--text-color-secondary);
    transition: rotate var(--standard-transition);
  }

  &.active {
    svg:last-of-type {
      rotate: 90deg;
    }
  }
}

.jenkins-tag {
  background: color-mix(in srgb, var(--color) 10%, transparent);
  border: var(--jenkins-border-width) solid color-mix(in srgb, var(--color) 10%, transparent);
  border-radius: 100px;
  padding: 0 0.5rem;
}

/* Test result */

.jp-code-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 2);
}

.jp-code-card {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background: var(--card-background);
  border: var(--jenkins-border);
  border-radius: var(--form-input-border-radius);
  padding: 0.875rem 1rem;

  details {
    summary {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 0.5rem;
      font-weight: 450;
      cursor: pointer;

      svg {
        width: 0.875rem;
        height: 0.875rem;
        color: var(--text-color-secondary);
        transition: rotate var(--standard-transition);
      }
    }

    &[open] {
      summary {
        svg {
          rotate: 90deg;
        }
      }
    }

    pre {
      background: none;
      border: none;
      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }
}

.jp-code-list--inline {
  padding: 0.5rem 2.25rem;
  gap: var(--section-padding);

  .jp-code-card {
    background: unset;
    border: unset;
    border-radius: unset;
    padding: unset;
  }
}

.failure-summary {
  height: unset !important;
}

.jp-details {
  display: flex;
  align-items: center;
  gap: 1rem 1.5rem;
  margin-bottom: 0.875rem;
  margin-top: -0.25rem;
  flex-wrap: wrap;

  @media (width <= 800px) {
    margin-block: 0.75rem 1rem;
  }

  .jp-pill {
    margin-left: -0.25rem;
  }

  & > div, & > a {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: var(--font-size-sm);
    color: var(--text-color-secondary);
    font-weight: var(--font-bold-weight);
    text-box: trim-both;

    a {
      color: inherit;
    }

    svg,
    img {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.jenkins-notice {
  position: relative;
  overflow: hidden;
}

#my-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  bottom: 100%;
  z-index: 1;
}

#main-panel {
  overflow-x: hidden;
}

pre[class*="language-"],
code[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word;
}

pre[class*="language-"] {
  overflow-wrap: anywhere;
}
