.jp-pills {
  display: flex;
  gap: var(--jenkins-border-width);

  .jp-pill {
    padding-inline: 1rem;
  }

  .jenkins-button--primary {
    transition: margin-inline var(--standard-transition);
  }

  .jp-pill:not(.jenkins-button--primary) {
    &:not(:first-of-type) {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      padding-left: 0.75rem;
    }

    &:not(:last-of-type) {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding-right: 0.75rem;
    }
  }

  &:empty {
    display: none;
  }
}

.jp-pill {
  gap: 0.375rem;
  border-radius: 100px;
  padding: 0 0.75rem;
  min-height: 1.875rem;
  text-box: cap alphabetic;
  font-weight: 450;

  svg {
    width: 1rem;
    height: 1rem;

    * {
      stroke-width: 50px;
    }
  }
}

.jp-idk {
  display: flex;
  align-items: center;
  justify-content: start;
  text-box: cap alphabetic;
  min-height: 48px;
  margin-left: calc(var(--table-padding) * -2);
  margin-top: calc(var(--table-padding) * -1);
  margin-bottom: calc(var(--table-padding) * -1);
  padding-left: calc(var(--table-padding) * 2);
  padding-top: calc(var(--table-padding) * 1);
  padding-bottom: calc(var(--table-padding) * 1);
  font-weight: 450;
  color: var(--text-color) !important;
  text-decoration: none !important;

  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  svg:first-of-type {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
  }

  svg:last-of-type {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    color: var(--text-color-secondary);
    transition: rotate var(--standard-transition);
  }

  &.active {
    svg:last-of-type {
      rotate: 90deg;
    }
  }
}

/* Test result */

.failure-summary {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem 2.25rem;

  pre {
    background: none;
    border: none;
    padding: 0;
    margin: -1rem 0 0;
    word-break: break-all;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    font-weight: 450;
    cursor: pointer;
    color: var(--text-color-secondary);
  }
}

.ninetynines {
  word-break: break-all;
}

.jp-details {
  display: flex;
  align-items: center;
  gap: 1rem 1.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0.875rem;
  margin-top: -0.25rem;
  flex-wrap: wrap;

  @media (width <= 800px) {
    margin-block: 0.75rem 1rem;
  }

  .jp-pill {
    margin-left: -0.25rem;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: var(--font-size-sm);
    color: var(--text-color-secondary);
    font-weight: var(--font-bold-weight);
    text-box: trim-both;

    a {
      color: inherit;
    }

    svg,
    img {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.jenkins-notice {
  position: relative;
  overflow: hidden;
}

#my-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  bottom: 100%;
  z-index: 1;
}

pre {
  background: var(--card-background);
  border: var(--jenkins-border, 2px solid color-mix(in srgb, var(--text-color-secondary) 10%, transparent));
}
